<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../static/billboard.js"></script>
    <script src="../static/billboard.css"></script>
    <link rel="stylesheet" href="../static/billboard.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
    </script> -->
    <title> Heart Data</title>
</head>

<body>

    <div id="m Chart"></div>
    <div id="f Chart"></div>
    <!-- <div id="chart"></div>
    <div id="categoryData"></div> -->
    <script src="../static/main.js"></script>

</body>

</html>